<% layout('layout') -%>

<% script('/js/marked.js') -%>
<% script('/js/view.js') -%>

<% block('title', article.title) -%>

<!-- article -->
<div class="container">
    <div id="article">
        <div class="page-header">
            <% if (!empty) { %>
                <div class="btn-group pull-right">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                        <span class="glyphicon glyphicon-cog"></span> <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a data-toggle="modal" href="#editor">Edit</a></li>
                        <li><a data-toggle="modal" href="#remove">Remove</a></li>
                    </ul>
                </div>
            <% } else { %>
                <a data-toggle="modal" href="#editor" class="btn btn-primary pull-right">Create</a>
            <% } %>

            <h1 class="title"><a href="/<%= article.title %>"><%= article.title %></a></h1>
        </div>
        <div class="body"></div>
    </div>
</div>

<!-- edit dialog -->
<form role="form" method="post" action="/<%= article.id %>/edit">
    <input type="hidden" name="_csrf" value="<%- csrf %>">
    <div class="modal fade" id="editor" tabindex="-1" role="dialog" aria-labelledby="editor" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Edit</h4>
                </div>
                <div class="modal-body">
                    <div class="page-header">
                        <input type="text" class="form-control" id="title" name="title" placeholder="Title" value="<%= article.title %>">
                    </div>
                    <div class="form-group">
                        <div class="form-control body"></div>
                        <textarea id="content" class="form-control" name="content" placeholder="Content" rows="17"><%= article.content %></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left" id="preview"><span class="glyphicon"></span> Preview</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-success">Save</button>
                </div>
            </div>
        </div>
    </div>
</form>

<!-- remove dialog -->
<form role="form" method="post" action="/<%= article.id %>/delete">
	<input type="hidden" name="_csrf" value="<%- csrf %>">
	<div class="modal fade" id="remove" tabindex="-1" role="dialog" aria-labelledby="remove" aria-hidden="true">
	    <div class="modal-dialog">
			<div class="modal-content">
	    		<div class="modal-header">
	      			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	      			<h4 class="modal-title">Remove</h4>
		        </div>
	    		<div class="modal-body">
	      			Do you want to delete the article &quot;<%= article.title %>&quot;?
		        </div>
	    		<div class="modal-footer">
	      			<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
	      			<button type="submit" class="btn btn-danger">Remove</button>
	    		</div>
	  		</div>
		</div>
	</div>
</form>
